h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 30px; }

header {
  padding: 30px;
  padding-bottom: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  position: relative; }
  header .input-group {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  header .header-input-container {
    position: relative;
    margin-right: 30px; }
    @media (min-width: 992px) {
      header .header-input-container {
        -webkit-flex: 0 0 66.66667%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 66.66667%;
                flex: 0 0 66.66667%;
        max-width: 66.66667%; } }
  header #header-input {
    display: block;
    width: 100%;
    padding: 10px 19px;
    padding-right: -moz-calc(45px + 19px);
    padding-right: calc(45px + 19px);
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #222;
    background-color: #fff;
    font-size: 13px;
    line-height: 18px;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
    header #header-input:hover, header #header-input:focus {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      border-color: #008329; }
  header #search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
  header .header-filters {
    height: 0;
    -moz-transition: height .2s;
    transition: height .2s;
    overflow: hidden;
    padding-top: 30px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    header .header-filters::before {
      content: '';
      display: block;
      height: 1px;
      width: 85%;
      background: #e0e0e0;
      position: absolute;
      top: 100px;
      left: 50%;
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 250; }
    header .header-filters .label-heading {
      margin-bottom: 10px;
      color: #222;
      font-weight: 700;
      font-size: 13px; }
    header .header-filters label {
      display: block;
      padding: 4px 3px 4px 25px; }
  header .show-filters {
    height: 173px; }
  header .header-input-group {
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px; }
  @media (min-width: 992px) {
    header .header-filter-container {
      -webkit-flex: 0 0 33.33333%;
         -moz-box-flex: 0;
          -ms-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
      max-width: 33.33333%; } }
  header #filters-button {
    color: #656565;
    background-color: #fff;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header #filters-button svg {
      height: 15px;
      width: 15px;
      margin-right: 5px; }
    header #filters-button:hover {
      background-color: #008329;
      color: #fff; }
      header #filters-button:hover svg path {
        fill: #fff; }
    header #filters-button.active-filters-btn {
      background: #37a000;
      color: #fff; }
      header #filters-button.active-filters-btn svg path {
        fill: #fff; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  height: 30px; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:before {
  border: 1px solid #37a000; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #37A000;
  position: absolute;
  top: 7px;
  left: 4px;
  border-radius: 100%;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.powered-by {
  position: absolute;
  top: 30px;
  right: 20px; }

.powered-by:hover a {
  color: #008329; }

@media (max-width: 352px) {
  header .header-input-group {
    width: 133px; }
  header .header-filters {
    height: 320px; } }

@media (max-width: 480px) {
  header .header-filters {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  header .header-filters::before {
    top: 160px; }
  header .header-input-group {
    margin-right: 0; }
  header .input-group {
    display: initial; }
  header .header-input-container {
    margin-right: 0;
    margin-bottom: 20px; }
  header .header-filter-container {
    height: 40px; }
  header .header-filter-container .btn {
    width: 100%;
    padding-left: 15px; } }

